{#
/**
 * @file
 * Theme validation result window.
 *
 * Available variables:
 * - data: The render array property to reference data passed to the theme.
 * - data.validation_result: The variable name that holds all validation
 *   result items.
 *
 * Each item in data.validation_result contains the following keys:
 * - 'title': Validation title text that is paired with appropriate status
 *   icon in the markup output.
 * - 'status': The status of the validation that indicates if it passed (pass),
 *   failed (fail) or upcoming task (todo).
 * - 'details': A Drupal render array that will generate the required markup
 *   to output any failed items. Status pass and todo are empty arrays.
 *
 * @see trpcultivate_phenotypes_theme()
 *
 * @ingroup themeable
 */
#}

{{ attach_library('trpcultivate_phenotypes/trpcultivate-phenotypes-style-result-window') }}

<details open="true" class="tcp-result-window">
  <summary>Validation Result</summary>
  <ul>
    {% for item in data.validation_result %}
      <li class="{{ 'tcp-validate-' ~ item.status }}" title="{{ '%s: %s' | format(item.title, item.status | upper) }}">

        {{ item.title }}

        <div class="tcp-result-window-details-wrapper">
          {{ item.details | render }}
        </div>

      </li>
    {% endfor %}
  </ul>
</details>

<br />
<br />
